*{
    margin:0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}
body{
    background-color:powderblue; 
    padding: 20px;
}
.hero{
    margin-top: 40px;
   
}
.hero h1 span{
color: blue;
font-weight: 700;
}
.textsection{
    border-radius: 10px;   
}
textarea::placeholder{
    color: aliceblue;
}
.btnarea{
    margin-top: 20px;
}
.imgbtn{
    width: 10%;
    height: fit-content;
}